
body {

  background: url(2001.png) no-repeat center fixed; 
  background-size: cover;

  

 }

p { border: 3px solid #A188F8; padding: 10px; margin: 50px;   color: #FAFAFB; } 

table, th, td, tr {
  border: 1px solid #A188F8; margin:50px; padding: 5px; color: #FAFAFB}

 h1 {

 color: #FAFAFB;

 }
h4 {

 color: #FAFAFB;

 }
 
a {color:#FAFAFB;}

.list{border: 3px solid #A188F8; display: inline-block; padding: 0 5px; margin: 20px; text-align: left; color: #FAFAFB; }
   

  